# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local

# typescript
*.tsbuildinfo

# backend
__pycache__
.env
foo.py
notes.txt
ios
android
db.json
.venv

# build artifacts from eas I believe
build-*

# firebase admin sdk. I like having it in this directory but super private
locshare-b6025-firebase-adminsdk-bs598-12d1a0c614.json
