[Unit]
Description=MiniWorld Service
After=network.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/miniworld/backend
Environment=PYTHONUNBUFFERED=1
ExecStart=/bin/bash -c '. ./.venv/bin/activate && fastapi run main.py'
Restart=on-failure
RestartSec=5s

[Install]
WantedBy=multi-user.target
